# Chromebook testing results

## **Pen tablets**

**TBD**

## **Pen displays**

**HP Dragonfly Pro Chromebook + XP-Pen Artist Pro 16 GEN2**&#x20;

* Display: works
* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: works
* Tilt: works
* Lower button: does not work
* Upper button: works
* Device recognized as a pen display: NO
* Works with single USB-C cable: YES

**HP Dragonfly Pro Chromebook + Wacom Movink 13**

* Display: WORKS
* Works with single USB-C cable: YES
* Device recognized as a pen display: NO
* Nothing else works. The movink essentially works as if it is just another monitor.

**Huion Kamvas Pro 16 Plus 4K**

* Display: works
* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: DOES NOT WORK
* Tilt: DOES NOT WORK
* Lower button: DOES NOT WORK
* Upper button: DOES NOT WORK
* Device recognized as a pen display: NO
* Works with single USB-C cable: NO. Required another USB-C cable for power.

**XP-Pen Artist 13 GEN2**

* Display: works
* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: DOES NOT WORK
* Tilt: DOES NOT WORK
* Lower button: DOES NOT WORK
* Upper button: DOES NOT WORK
* Device recognized as a pen display: NO
* Works with single USB-C cable: YES
