# Chromebook testing results

##

{% hint style="info" %}

{% endhint %}

## **Testing**

* Chromebook hardware: HP Dragonfly Pro Chromebook
* ChromeOS version: 126.0.06478.132

## **Pen tablet results**

**General limitations**\
Keep in mind the general limitations that apply to pen tablets when used with a Chromebook

* No pressure curves
* No force proportions - so drawing is distorted. See: [**Force proportions**](../../customizing-your-experience/match-aspect-ratios-with-force-proportions.md)
* etc.

**Wacom One M (CTC-6110WL)**

* Nothing works

**Wacom Intuos Pro Large (PTK-870)**

* Pressing down draws or clicks: YES
* Pressure: works
* Tilt: works
* Device recognized as a pen tablet: YES
* Chrome OS allows buttons to be customed: YES

**Wacom Intuos Pro Medium 2017 (PTH-660)**

* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: works
* Tilt: works
* Lower button: works
* Upper button: works
* Device recognized as a pen tablet: yes
* ChromeOS allows button to be customized: YES

## **Pen display results**

**XP-Pen Artist Pro 16 GEN2**&#x20;

* Display: works
* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: works
* Tilt: works
* Lower button: does not work
* Upper button: works
* Device recognized as a pen display: NO
* Works with single USB-C cable: YES

**Wacom Movink 13**

* The Movink 13 treates as an external display. Touch and pen do not work.

**Huion Kamvas Pro 16 Plus 4K**

* Display: works
* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: DOES NOT WORK
* Tilt: DOES NOT WORK
* Lower button: DOES NOT WORK
* Upper button: DOES NOT WORK
* Device recognized as a pen display: NO
* Works with single USB-C cable: NO. Required another USB-C cable for power.

**XP-Pen Artist 13 GEN2**

* Display: works
* Pointer: No pointer visible when using pen
* Pressing down draws or clicks: YES
* Pressure: DOES NOT WORK
* Tilt: DOES NOT WORK
* Lower button: DOES NOT WORK
* Upper button: DOES NOT WORK
* Device recognized as a pen display: NO
* Works with single USB-C cable: YES
